@charset "UTF-8";
.header {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 85px;
  height: 85px;
}

.contact_button {
  color: white;
  background-color: transparent;
  border-radius: 15px;
  border: white 1px solid;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 12px 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.contact_button:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Большие десктопы (больше 1400px) */
@media (min-width: 1401px) {
  .header {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
/* Планшеты (от 768px до 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .header {
    padding-top: 60px;
  }
  .logo {
    width: 85px;
    height: 85px;
  }
}
/* Маленькие планшеты и большие телефоны (от 576px до 768px) */
@media (max-width: 768px) and (min-width: 577px) {
  .header {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
}
/* Телефоны (от 359px до 576px) */
@media (max-width: 576px) and (min-width: 357px) {
  .contact_button {
    width: 156px;
    padding: 12px 22px;
    font-size: 12px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .logo {
    width: 44px;
    height: 44px;
  }
  .h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
  }
}
/* Маленькие телефоны (меньше 359px) */
@media (max-width: 358px) {
  .contact_button {
    width: 156px;
    padding: 12px 22px;
    font-size: 12px;
  }
  .header {
    padding-top: 15px !important;
    padding-bottom: 15px;
  }
  .logo {
    width: 44px;
    height: 44px;
  }
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 42.67px;
  }
}
/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  .header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .logo {
    max-width: 44px;
    max-height: 44px;
  }
}
.request__button {
  color: white;
  border-radius: 15px;
  background-color: #3a75ed;
  font-family: "Montserrat";
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: 0%;
  border: 1px solid transparent;
  padding: 15px 37px 17px 36px;
}
.request__button:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  border: 1px solid white;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78.02px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}

.description {
  max-width: 859px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 33px;
  line-height: 40.23px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 49px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

.items-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

/* Базовые стили для items */
.items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 72px;
  margin-bottom: env(safe-area-inset-bottom, 20px);
  transition: transform 0.3s ease;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: hidden !important;
}

/* Скрываем скроллбар для Chrome, Safari и Opera */
.items::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.item {
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__text {
  font-family: Montserrat;
  font-weight: 500;
  color: #ffffff;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
}
.item__description {
  text-align: center;
  margin: 8px 0 0 0;
  font-family: Montserrat;
  font-weight: 250;
  color: #ffffff;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}
.item__bg {
  position: relative;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  background-color: #3a75ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Адаптивные стили для wrapper - уменьшение падинга с каждым брейкпоинтом */
@media (min-width: 1676px) {
  .wrapper {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}
@media (max-width: 1675px) and (min-width: 1401px) {
  .wrapper {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
}
@media (max-width: 1400px) and (min-width: 1201px) {
  .wrapper {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
@media (max-width: 1200px) and (min-width: 993px) {
  .wrapper {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .wrapper {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
/* Адаптивные стили для request */
/* Большие десктопы (больше 1675px) - все элементы */
@media (min-width: 1676px) {
  .request__button {
    font-size: 20px;
    padding: 16px 40px;
  }
  .items {
    gap: 30px;
  }
  .item {
    width: calc((100% - 180px) / 7); /* 7 элементов */
    min-width: 220px;
  }
  .item__bg {
    height: 116px;
    width: 116px;
    margin: 0 auto;
  }
  .item__text {
    font-size: 19px;
    white-space: nowrap;
  }
  .item__description {
    font-size: 15px;
  }
}
/* От 1401px до 1675px - показываем 6 элементов */
@media (max-width: 1675px) and (min-width: 1401px) {
  .request__button {
    font-size: 20px;
    padding: 16px 40px;
  }
  .items {
    overflow-x: auto;
    overflow-y: hidden !important;
    gap: 25px;
  }
  .item {
    width: calc((100% - 125px) / 6); /* 6 элементов */
  }
  .item__icon {
    height: 50px;
    width: 50px;
  }
  .item__bg {
    height: 116px;
    width: 116px;
    margin: 0 auto;
  }
  .item__text {
    font-size: 17px;
  }
  .item__description {
    font-size: 13px;
  }
}
/* От 1201px до 1400px - показываем 5 элементов */
@media (max-width: 1400px) and (min-width: 1201px) {
  .request__button {
    font-size: 19px;
    padding: 15px 38px;
  }
  .items-container {
    overflow-x: hidden;
    width: 100%;
  }
  .items {
    overflow-x: auto;
    gap: 20px;
    justify-content: space-between;
  }
  .item {
    width: calc((100% - 60px) / 4); /* 4 элемента */
  }
  .item .item__icon {
    height: 50px;
    width: 50px;
  }
  .item__bg {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  .item__text {
    font-size: 18px;
  }
  .item__description {
    font-size: 14px;
  }
}
/* От 993px до 1200px - показываем 4 элемента */
@media (max-width: 1200px) and (min-width: 993px) {
  .request__button {
    font-size: 18px;
    padding: 14px 35px;
  }
  .items {
    overflow-x: auto;
    gap: 18px;
  }
  .item {
    width: calc((100% - 54px) / 4); /* 4 элемента */
  }
  .item__icon {
    height: 50px;
    width: 50px;
  }
  .item__bg {
    height: 90px;
    width: 90px;
    margin: 0 auto;
  }
  .item__text {
    font-size: 17px;
  }
  .item__description {
    font-size: 14px;
  }
}
/* От 769px до 992px - показываем 3 элемента */
@media (max-width: 992px) and (min-width: 769px) {
  .request__button {
    font-size: 17px;
    padding: 13px 32px;
  }
  .icon {
    margin-bottom: 8px;
  }
  .items {
    overflow-x: auto;
    padding-bottom: 30px;
    gap: 15px;
  }
  .item {
    width: calc((100% - 30px) / 3); /* 3 элемента */
  }
  .item__bg {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }
  .item__icon {
    height: 30px;
    width: 30px;
  }
  .item__text {
    font-size: 16px;
  }
  .item__description {
    font-size: 13px;
  }
}
/* От 577px до 768px - показываем 3 элемента */
@media (max-width: 768px) and (min-width: 577px) {
  .request__button {
    font-size: 16px;
    padding: 12px 30px;
  }
  .items {
    overflow-x: auto;
    padding-bottom: 30px;
    gap: 12px;
  }
  .item {
    width: calc((100% - 24px) / 3); /* 3 элемента */
  }
  .item__bg {
    height: 65px;
    width: 65px;
    margin: 0 auto;
  }
  .item__icon {
    height: 28px;
    width: 28px;
  }
  .item__text {
    font-size: 15px;
  }
  .item__description {
    font-size: 12px;
  }
}
/* До 576px - показываем 3 элемента */
@media (max-width: 576px) {
  .request__button {
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 250px;
  }
  .items {
    overflow-x: auto;
    padding-bottom: calc(60px + env(safe-area-inset-bottom, 20px));
    gap: 10px;
  }
  .item {
    width: calc((100% - 20px) / 3); /* 3 элемента */
  }
  .item__bg {
    height: 57px;
    width: 57px;
    margin: 0 auto;
  }
  .item__icon {
    height: 25px;
    width: 25px;
  }
  .item__text {
    font-size: 13px;
    line-height: 15px;
  }
  .item__description {
    font-size: 11px;
    line-height: 13px;
    margin-top: 4px;
  }
}
/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  .request__button {
    background-color: #3a75ed;
    color: white;
    border: none;
    margin-top: 10px;
  }
  .icon {
    margin-bottom: 8px;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  background: rgba(21, 21, 21, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s ease, backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
}

@supports not (backdrop-filter: blur(1px)) {
  .overlay {
    background: rgba(21, 21, 21, 0.95);
  }
  .overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
  }
}

.sidebar, .policy-sidebar, .request-sidebar, .contact-sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background: #fff;
  transition: transform 0.3s ease;
  z-index: 1001;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
}
.sidebar.active, .active.policy-sidebar, .active.request-sidebar, .active.contact-sidebar {
  visibility: visible;
  opacity: 1;
}
.sidebar .close-btn, .policy-sidebar .close-btn, .request-sidebar .close-btn, .contact-sidebar .close-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}
.sidebar .close-btn svg, .policy-sidebar .close-btn svg, .request-sidebar .close-btn svg, .contact-sidebar .close-btn svg {
  width: 20px;
  height: 20px;
}
.sidebar .close-btn circle, .policy-sidebar .close-btn circle, .request-sidebar .close-btn circle, .contact-sidebar .close-btn circle {
  transition: fill 0.2s ease;
}
.sidebar .close-btn path, .policy-sidebar .close-btn path, .request-sidebar .close-btn path, .contact-sidebar .close-btn path {
  transition: stroke 0.2s ease;
}
.sidebar .close-btn:hover path, .policy-sidebar .close-btn:hover path, .request-sidebar .close-btn:hover path, .contact-sidebar .close-btn:hover path {
  stroke: #3a75ed;
}
.sidebar .close-btn:hover circle, .policy-sidebar .close-btn:hover circle, .request-sidebar .close-btn:hover circle, .contact-sidebar .close-btn:hover circle {
  fill: white;
}
@media (max-width: 888px) {
  .sidebar, .policy-sidebar, .request-sidebar, .contact-sidebar {
    width: 100% !important;
  }
  .sidebar .close-btn, .policy-sidebar .close-btn, .request-sidebar .close-btn, .contact-sidebar .close-btn {
    display: block;
  }
}

.contact-sidebar {
  right: 0;
  width: 888px;
  transform: translateX(100%);
}
@media (max-width: 888px) {
  .contact-sidebar {
    transform: translateX(100%);
  }
  .contact-sidebar .close-btn {
    right: 15px;
    top: 20px;
  }
}
.contact-sidebar.active {
  transform: translateX(0);
}
.contact-sidebar__content {
  padding: 20px;
}
.contact-sidebar_wrapper {
  padding: 0 74px;
}
.contact-sidebar_wrapper {
  padding-bottom: 84px;
}

.contact-title {
  margin-left: 54px;
  padding: 188px 0 75px 0;
  font-size: 33px;
}

.contact-information {
  display: flex;
  flex-direction: column;
}

.phones_block,
.mail_block,
.location_block {
  display: flex;
  align-items: flex-start;
  padding-bottom: 52px;
}

.contact_icons {
  margin-right: 15px;
  margin-top: -8px;
  min-width: 41px;
  min-height: 41px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-label {
  margin-right: 8px;
  font-weight: 500;
}

.location-label {
  font-weight: 500;
  margin-right: 8px;
}

.phone,
.contact-email {
  color: #151515;
  text-decoration: none;
  font-weight: 400;
}

.map_wrapper {
  display: flex;
  flex-direction: column;
}

.request-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 80px 150px 224px 150px;
  left: 0;
  width: 864px;
  transform: translateX(-100%);
}
.request-sidebar .logo {
  width: 85px;
  height: 85px;
  margin-left: 0;
}
.request-sidebar .request__form-container {
  width: 100%;
  margin-top: 40px;
}
.request-sidebar .request__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin: 0 0 0 0;
}
.request-sidebar .request__subtitle {
  max-width: 398px;
  font-family: "Montserrat";
  font-weight: 420;
  font-size: 18px;
  color: #151515;
  margin: 0 0 30px 0;
  line-height: 1.4;
}
.request-sidebar .request__form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}
.request-sidebar .request__input {
  padding: 12px;
  border-radius: 11px;
  border: none;
  background-color: #e7e7e7;
  font-family: "Montserrat";
  font-size: 16px;
  color: #151515;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.request-sidebar .request__input::placeholder {
  color: #959595;
}
.request-sidebar .request__input:focus {
  box-shadow: 0 0 0 2px rgba(58, 117, 237, 0.3);
}
.request-sidebar .request__input.invalid {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}
.request-sidebar .request__input.invalid:focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.3);
}
.request-sidebar .request__textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #e7e7e7;
  font-family: "Montserrat";
  font-size: 16px;
  color: #333;
  resize: none;
  max-height: 54px;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.request-sidebar .request__textarea::placeholder {
  color: #959595;
}
.request-sidebar .request__textarea:focus {
  box-shadow: 0 0 0 2px rgba(58, 117, 237, 0.3);
}
.request-sidebar .request__textarea.invalid {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}
.request-sidebar .request__textarea.invalid:focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.3);
}
.request-sidebar .request__policy {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 5px;
  font-family: "Montserrat";
  font-size: 14px;
  color: #666;
  max-width: 320px;
}
.request-sidebar .request__policy label {
  line-height: 1.4;
}
.request-sidebar .request__checkbox {
  width: 19px;
  height: 19px;
  accent-color: #3a75ed;
  margin-left: 2px;
}
.request-sidebar .request__policy-link {
  color: #3a75ed;
  text-decoration: none;
}
.request-sidebar .request__policy-link:hover {
  text-decoration: underline;
}
.request-sidebar .request__actions {
  display: flex;
  align-items: center;
  gap: 56px;
  margin-top: 10px;
}
.request-sidebar .request__file-button {
  background: none;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #151515;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.request-sidebar .request__file-button:hover {
  color: #2856b5;
}
.request-sidebar .request__button {
  margin-top: 0;
  color: white;
  border-radius: 15px;
  background-color: #3a75ed;
  font-family: "Montserrat";
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: 0%;
  border: 1px solid transparent;
  padding: 12px 61px;
  align-self: flex-start;
}
.request-sidebar .request__button:hover {
  box-shadow: 0 0 10px 3px rgba(58, 117, 237, 0.7);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
@media (max-width: 888px) {
  .request-sidebar {
    transform: translateX(-100%);
  }
  .request-sidebar .close-btn {
    right: 15px;
  }
}
.request-sidebar.active {
  transform: translateX(0);
}
@media (min-width: 1676px) {
  .request-sidebar {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1675px) and (min-width: 1401px) {
  .request-sidebar {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 1400px) and (min-width: 1201px) {
  .request-sidebar {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 1200px) and (min-width: 993px) {
  .request-sidebar {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .request-sidebar {
    padding: 60px 45px 100px 45px;
  }
  .request-sidebar .logo {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .request-sidebar {
    padding: 50px 30px 80px 30px;
  }
  .request-sidebar .logo {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .request-sidebar {
    padding: 20px 15px 60px 15px;
  }
  .request-sidebar .logo {
    width: 44px;
    height: 44px;
  }
  .request-sidebar .request__title {
    font-size: 26px;
    font-weight: 600;
  }
  .request-sidebar .request__subtitle {
    font-size: 14px;
  }
  .request-sidebar .request__input {
    padding: 9px 15px;
  }
  .request-sidebar .request__textarea {
    font-size: 14px;
  }
  .request-sidebar .request__policy {
    font-size: 11px;
    max-width: 250px;
  }
  .request-sidebar .request__button {
    font-size: 15px;
    padding: 7.4px 12px;
    border-radius: 15px;
    max-width: 164px;
  }
  .request-sidebar .request__file-button {
    font-size: 14px;
  }
  .request-sidebar .request__actions {
    justify-content: space-between;
  }
}
@media (max-width: 576px) and (max-width: 358px) {
  .request-sidebar {
    padding: 15px 15px 50px 15px;
  }
  .request-sidebar .logo {
    width: 44px;
    height: 44px;
  }
}

.policy-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 80px 150px 80px 150px;
  left: 0;
  width: 864px;
  transform: translateX(-100%);
  overflow-y: auto;
}
.policy-sidebar .logo {
  width: 85px;
  height: 85px;
  margin-left: 0;
}
.policy-sidebar .policy__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin: 40px 0 20px 0;
}
.policy-sidebar .policy__content {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #151515;
  line-height: 1.5;
}
.policy-sidebar .policy__content p {
  margin-bottom: 15px;
}
.policy-sidebar .policy__content ul {
  padding-left: 20px;
  margin-bottom: 15px;
}
.policy-sidebar .policy__content li {
  margin-bottom: 8px;
}
@media (max-width: 888px) {
  .policy-sidebar {
    transform: translateX(-100%);
  }
  .policy-sidebar .close-btn {
    right: 15px;
  }
}
.policy-sidebar.active {
  transform: translateX(0);
}
@media (min-width: 1676px) {
  .policy-sidebar {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1675px) and (min-width: 1401px) {
  .policy-sidebar {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 1400px) and (min-width: 1201px) {
  .policy-sidebar {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 1200px) and (min-width: 993px) {
  .policy-sidebar {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .policy-sidebar {
    padding: 60px 45px 60px 45px;
  }
  .policy-sidebar .logo {
    width: 85px;
    height: 85px;
  }
  .policy-sidebar .policy__title {
    font-size: 28px;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .policy-sidebar {
    padding: 50px 30px 50px 30px;
  }
  .policy-sidebar .logo {
    width: 70px;
    height: 70px;
  }
  .policy-sidebar .policy__title {
    font-size: 26px;
  }
  .policy-sidebar .policy__content {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .policy-sidebar {
    padding: 20px 15px 40px 15px;
  }
  .policy-sidebar .logo {
    width: 44px;
    height: 44px;
  }
  .policy-sidebar .policy__title {
    font-size: 24px;
    margin: 20px 0 15px 0;
  }
  .policy-sidebar .policy__content {
    font-size: 14px;
  }
}
@media (max-width: 358px) {
  .policy-sidebar {
    padding: 15px 15px 30px 15px;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --wrapper-padding: 29px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.wrapper {
  padding: 0 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Адаптивные стили для всех устройств */
/* Большие десктопы (больше 1600px) */
@media (min-width: 1400px) {
  .wrapper {
    padding: 0 160px;
  }
  h1 {
    font-size: 60px;
    line-height: 73px;
  }
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 1640px) and (min-width: 1201px) {
  h1 {
    font-size: 50px;
  }
  .description {
    margin-bottom: 25px;
  }
  .description {
    font-size: 27px;
  }
  .item__bg {
    width: 85px;
    height: 85px;
  }
}
/* Стандартные десктопы (от 1200px до 1400px) */
@media (max-width: 1400px) and (min-width: 1201px) {
  .wrapper {
    padding: 0 150px;
  }
  h1 {
    font-size: 55px;
    line-height: 67px;
  }
  h2 {
    font-size: 44px;
    line-height: 54px;
  }
}
/* Маленькие десктопы и большие планшеты (от 992px до 1200px) */
@media (max-width: 1200px) and (min-width: 993px) {
  .wrapper {
    padding: 0 120px;
  }
  h1 {
    font-size: 50px;
    line-height: 61px;
  }
  h2 {
    font-size: 40px;
    line-height: 49px;
  }
}
/* Планшеты (от 768px до 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .wrapper {
    padding: 0 90px;
  }
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}
/* Маленькие планшеты и большие телефоны (от 576px до 768px) */
@media (max-width: 768px) and (min-width: 577px) {
  .wrapper {
    padding: 0 60px;
  }
  h1 {
    font-size: 40px;
    line-height: 49px;
  }
  h2 {
    font-size: 32px;
    line-height: 39px;
  }
}
/* Маленькие телефоны (меньше 359px) */
@media (max-width: 358px) {
  .wrapper {
    padding: 0 15px;
  }
  h1 {
    font-size: 32px;
    line-height: 39px;
    margin-top: 10px;
  }
  h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}
/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  body {
    background-color: #000000;
  }
  .wrapper {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: env(safe-area-inset-bottom, 30px) !important;
  }
  .wrapper .items-container {
    margin-top: auto;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 100%;
  }
  .description {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }
}/*# sourceMappingURL=style.css.map */