.contact-sidebar {
  @extend .sidebar;
  right: 0;
  width: $sidebar-contact-width;
  transform: translateX(100%);

  @include mobile {
    transform: translateX(100%);

    .close-btn {
      right: 15px;
      top: 20px;
    }
  }

  &.active {
    transform: translateX(0);
  }

  &__content {
    padding: 20px;
  }
  &_wrapper {
    padding: 88px 122px;
  }
}
#map {
  margin-top: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.contact-sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.contact-title {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 9px;
}

.contact-subtitle {
  margin: 0;
  font-weight: 420;
  font-size: 18px;
  line-height: 110%;
}
.contact-information {
  display: flex;
}

.phones_block,
.mail_block,
.location_block {
  display: flex;
  align-items: flex-start;
}

.mail-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.address-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-information {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-label {
  margin-right: 8px;
  font-weight: 400;
  color: #959595;
  font-size: 18px;
  line-height: 122%;
}

.location-label {
  font-weight: 500;
  margin-right: 8px;
}

.phone,
.contact-email {
  color: #151515;
  text-decoration: none;
  font-weight: 400;
}

.map_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 888px) {
  .contact-sidebar_wrapper {
    padding: 88px 45px;
  }
}

@media (max-width: 576px) {
  .contact {
    gap: 30px;
  }
  .contact-sidebar_wrapper {
    padding: 88px 15px 44px 15px !important;
  }
  .contact-title {
    font-size: 26px;
  }
  .contact-information {
    gap: 2px;
  }
  .contact-subtitle,
  .contact-information,
  .address-information,
  .mail-information,
  .contact-label {
    font-size: 14px;
  }
  .contact-sidebar_content {
    gap: 30px;
  }
  .mail-information {
    gap: 5px;
  }
  .address-information {
    gap: 5px;
  }
  .phones_block {
    gap: 5px;
  }
}
