@mixin backdrop {
    backdrop-filter: $backdrop-blur;
    -webkit-backdrop-filter: $backdrop-blur;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay-color;
    opacity: 0;
    visibility: hidden;
    z-index: $z-index-overlay;
    @include backdrop;
    transition: 
        all $transition-duration ease,
        backdrop-filter $transition-duration ease,
        -webkit-backdrop-filter $transition-duration ease;

    &.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    @supports not (backdrop-filter: blur(1px)) {
        background: rgba(21, 21, 21, 0.95);
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            z-index: -1;
        }
    }
}
