.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  /* Учитываем системные панели браузера в iOS */
  height: calc(100vh - env(safe-area-inset-bottom, 0px));
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  background: #fff;
  transition: transform 0.3s ease;
  z-index: 1001;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  
  /* Добавляем поддержку для iOS */
  @supports (-webkit-overflow-scrolling: touch) {
    /* Для iOS устройств */
    padding-top: max(env(safe-area-inset-top, 0px), 20px);
    padding-bottom: max(env(safe-area-inset-bottom, 0px), 20px);
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;

    svg {
      width: 20px;
      height: 20px;
    }

    circle {
      transition: fill 0.2s ease;
    }

    path {
      transition: stroke 0.2s ease;
    }

    &:hover {
      path {
        stroke: #3a75ed;
      }

      circle {
        fill: white;
      }
    }
  }

  @include mobile {
    width: 100% !important;

    .close-btn {
      display: block;
    }
  }
}
