.header {
    padding-top: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        width: 88px;
        height: 88px;
    }
}

.contact_button {
    color: white;
    background-color: transparent;
    border-radius: 15px;
    border: white 1px solid;
    font-family: "Montserrat";
    font-size: 18px;
    padding: 12px 40px;
    margin-bottom: 49px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.contact_button:hover {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
