.header {
  padding-top: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 85px;
  height: 85px;
}

.contact_button {
  color: white;
  background-color: transparent;
  border-radius: 15px;
  border: white 1px solid;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 12px 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.contact_button:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Большие десктопы (больше 1400px) */
@media (min-width: 1401px) {
  .header {
    padding-top: 80px;
  }

}




/* Планшеты (от 768px до 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .header {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .logo {
    width: 85px;
    height: 85px;
  }
}

/* Маленькие планшеты и большие телефоны (от 576px до 768px) */
@media (max-width: 768px) and (min-width: 577px) {
  .header {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
}

/* Телефоны (от 359px до 576px) */
@media (max-width: 576px) and (min-width: 357px) {
  .contact_button{
    width: 156px;
    padding: 12px 22px;
    font-size: 12px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .logo {
    width: 44px;
    height: 44px;
  }
  .h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
  }
}

/* Маленькие телефоны (меньше 359px) */
@media (max-width: 358px) {
  .contact_button{
    width: 156px;
    padding: 12px 22px;
    font-size: 12px;
  }
  .header {
    padding-top: 15px !important;
    padding-bottom: 15px;
  }
  .logo {
    width: 44px;
    height: 44px;
  }
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 42.67px;
  }
}

/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 44px;
    max-height: 44px;
  }
}

