// Миксины
@mixin hover-effect {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

@mixin montserrat-text {
  font-family: "Montserrat";
  letter-spacing: 0%;
  color: #ffffff;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Переменные
$primary-blue: #3a75ed;

.request {
  margin-bottom: auto;

  &__button {
    @include montserrat-text;
    color: white;
    border-radius: 15px;
    background-color: $primary-blue;
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-weight: 500;
    line-height: 29.26px;
    border: 1px solid transparent;
    padding: 15px 37px 17px 36px;

    &:hover {
      @include hover-effect;
      border: 1px solid white;
    }
  }
}

h1 {
  @include montserrat-text;
  font-weight: 700;
  font-size: 64px;
  line-height: 78.02px;
  margin: 0 0 25px;
}

.description {
  @include montserrat-text;
  max-width: 859px;
  font-weight: 400;
  font-size: 33px;
  line-height: 40.23px;
  margin: 0 0 49px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

.items-container {
  position: relative;
  // overflow: hidden;
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom, 60px);
}

.items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: calc(60px + env(safe-area-inset-bottom, 0px));
  margin-bottom: env(safe-area-inset-bottom, 20px);
  transition: transform 0.3s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto !important;
  overflow-y: hidden !important;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.item {
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    @include montserrat-text;
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;
  }

  &__description {
    @include montserrat-text;
    text-align: center;
    margin: 8px 0 0;
    font-weight: 250;
    font-size: 15px;
    line-height: 100%;
  }

  &__bg {
    @include flex-center;
    position: relative;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    background-color: $primary-blue;
  }
}

// Адаптивные стили для больших десктопов
@media (min-width: 1676px) {
  .request {
    &__button {
      font-size: 20px;
      padding: 16px 40px;
    }
  }

  .items {
    gap: 30px;
  }

  .item {
    width: calc((100% - 180px) / 7);
    min-width: 220px;

    &__bg {
      height: 116px;
      width: 116px;
      margin: 0 auto;
    }

    &__text {
      font-size: 19px;
      white-space: nowrap;
    }

    &__description {
      font-size: 15px;
    }
  }
}

/* От 1401px до 1675px - показываем 6 элементов */
@media (max-width: 1675px) and (min-width: 1401px) {
  .request {
    &__button {
      font-size: 20px;
      padding: 16px 40px;
    }
  }

  .items {
    overflow-x: auto;
    overflow-y: hidden !important;
    gap: 25px;
  }

  .item {
    width: calc((100% - 125px) / 6); /* 6 элементов */

    &__icon {
      height: 50px;
      width: 50px;
    }

    &__bg {
      height: 116px;
      width: 116px;
      margin: 0 auto;
    }

    &__text {
      font-size: 17px;
    }

    &__description {
      font-size: 13px;
    }
  }
}

/* От 1201px до 1400px - показываем 5 элементов */
@media (max-width: 1400px) and (min-width: 1201px) {
  .request {
    &__button {
      font-size: 19px;
      padding: 15px 38px;
    }
  }

  .items-container {
    overflow-x: hidden;
    width: 100%;
  }

  .items {
    overflow-x: auto;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .item {
    width: calc((100% - 60px) / 4); /* 4 элемента */

    .item__icon {
      height: 50px;
      width: 50px;
    }

    &__bg {
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }

    &__text {
      font-size: 18px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

/* От 993px до 1200px - показываем 4 элемента */
@media (max-width: 1200px) and (min-width: 993px) {
  .request {
    &__button {
      font-size: 18px;
      padding: 14px 35px;
    }
  }

  .items {
    overflow-x: auto;
    gap: 18px;
  }

  .item {
    width: calc((100% - 54px) / 4); /* 4 элемента */
    &__icon {
      height: 50px;
      width: 50px;
    }

    &__bg {
      height: 90px;
      width: 90px;
      margin: 0 auto;
    }

    &__text {
      font-size: 17px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

/* От 769px до 992px - показываем 3 элемента */
@media (max-width: 992px) and (min-width: 769px) {
  .request {
    &__button {
      font-size: 17px;
      padding: 13px 32px;
    }
  }
  .icon {
    margin-bottom: 8px;
  }

  .items {
    overflow-x: auto;
    padding-bottom: 60px;
    gap: 15px;
  }

  .item {
    width: calc((100% - 30px) / 3); /* 3 элемента */

    &__bg {
      height: 70px;
      width: 70px;
      margin: 0 auto;
    }

    &__icon {
      height: 30px;
      width: 30px;
    }

    &__text {
      font-size: 16px;
    }

    &__description {
      font-size: 13px;
    }
  }
}
@media (max-width: 992px) and (orientation: landscape) {
  .request {
    margin-bottom: 70px;
  }
}

/* От 577px до 768px - показываем 3 элемента */
@media (max-width: 768px) and (min-width: 577px) {
  .request {
    &__button {
      font-size: 16px;
      padding: 12px 30px;
    }
  }

  .items {
    overflow-x: auto;
    padding-bottom: 60px;
    gap: 12px;
  }

  .item {
    width: calc((100% - 24px) / 3); /* 3 элемента */

    &__bg {
      height: 65px;
      width: 65px;
      margin: 0 auto;
    }

    &__icon {
      height: 28px;
      width: 28px;
    }

    &__text {
      font-size: 15px;
    }

    &__description {
      font-size: 12px;
    }
  }
}

/* До 576px - показываем 3 элемента */
@media (max-width: 576px) {
  .request {
    &__button {
      font-size: 16px;
      padding: 12px 25px;
      border-radius: 10px;
      display: block;
      width: 100%;
      max-width: 250px;
      // margin-bottom: auto;
    }
  }

  .items {
    overflow-x: auto;
    padding-bottom: calc(15px + env(safe-area-inset-bottom, 20px));
    gap: 10px;
    padding-bottom: 12.2vh;
  }

  .item {
    width: calc((100% - 20px) / 3); /* 3 элемента */

    &__bg {
      height: 57px;
      width: 57px;
      margin: 0 auto;
    }

    &__icon {
      height: 33px;
      width: 33px;
    }

    &__text {
      font-size: 13px;
      line-height: 15px;
    }

    &__description {
      font-size: 11px;
      line-height: 13px;
      margin-top: 4px;
    }
  }
}

/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  .request__button {
    background-color: #3a75ed;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 8.4px 0;
    max-width: 201px;
    border-radius: 15px;
  }
  .icon {
    margin-bottom: 8px;
  }
}
