@use "header";
@use "request";
@import "utils/variables";
@import "utils/mixins";
@import "components/overlay";
@import "components/sidebar-base";
@import "components/contact-sidebar";
@import "components/request-sidebar";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    padding: 0 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

// /* Принудительное затемнение элементов */
// .ymaps-2-1-79-balloon__content,
// .ymaps-2-1-79-balloon__tail,
// .ymaps-2-1-79-balloon__close-button,
// .ymaps-2-1-79-balloon__layout {
//     background-color: #1a1a1a !important;
//     color: #fff !important;
// }

// .ymaps-2-1-79-balloon__close-button {
//     filter: invert(1);
// }

// /* Затемнение подложки */
// .ymaps-2-1-79-ground-pane {
//     filter: grayscale(1) invert(1) contrast(1.2) brightness(0.9);
//     -webkit-filter: grayscale(1) invert(1) contrast(1.2) brightness(0.9);
// }
