@use "header";
@use "request";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: #232323;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#video-background {
    position: fixed; /* Фиксируем видео */
    top: 0;
    left: 0;
    width: 100vw; /* 100% ширины вьюпорта */
    height: 100vh; /* 100% высоты вьюпорта */
    object-fit: cover; /* Видео заполняет весь блок, сохраняя пропорции */
    z-index: -1;
}

.wrapper {
    padding: 0 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
