@use "header";
@use "request";
@import "utils/variables";
@import "utils/mixins";
@import "components/overlay";
@import "components/sidebar-base";
@import "components/contact-sidebar";
@import "components/request-sidebar";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --wrapper-padding: 29px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.wrapper {
  padding: 0 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Адаптивные стили для всех устройств */

/* Большие десктопы (больше 1600px) */
@media (min-width: 1400px) {
  .wrapper {
    padding: 0 160px;
  }

  h1 {
    font-size: 60px;
    line-height: 73px;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (max-width: 1640px) and (min-width: 1201px) {
  h1 {
    font-size: 50px;
  }
  .description {
    margin-bottom: 25px;
  }

  .description {
    font-size: 27px;
  }
  .item__bg {
    width: 85px;
    height: 85px;
  }
}

/* Стандартные десктопы (от 1200px до 1400px) */
@media (max-width: 1400px) and (min-width: 1201px) {
  .wrapper {
    padding: 0 150px;
  }

  h1 {
    font-size: 55px;
    line-height: 67px;
  }

  h2 {
    font-size: 44px;
    line-height: 54px;
  }
}

/* Маленькие десктопы и большие планшеты (от 992px до 1200px) */
@media (max-width: 1200px) and (min-width: 993px) {
  .wrapper {
    padding: 0 120px;
  }

  h1 {
    font-size: 50px;
    line-height: 61px;
  }

  h2 {
    font-size: 40px;
    line-height: 49px;
  }
}

/* Планшеты (от 768px до 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .wrapper {
    padding: 0 90px;
  }

  h1 {
    font-size: 45px;
    line-height: 55px;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

/* Маленькие планшеты и большие телефоны (от 576px до 768px) */
@media (max-width: 768px) and (min-width: 577px) {
  .wrapper {
    padding: 0 60px;
  }

  h1 {
    font-size: 40px;
    line-height: 49px;
  }

  h2 {
    font-size: 32px;
    line-height: 39px;
  }
}

/* Маленькие телефоны (меньше 359px) */
@media (max-width: 358px) {
  .wrapper {
    padding: 0 15px;
  }

  h1 {
    font-size: 32px;
    line-height: 39px;
    margin-top: 10px;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

/* Общие стили для мобильных устройств */
@media (max-width: 576px) {
  body {
    background-color: #000000;
  }

  .wrapper {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: env(safe-area-inset-bottom, 30px) !important;

    .items-container {
      margin-top: auto;
    }
  }

  h1 {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 100%;
  }

  .description {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }
}
